*.o
*.exe
*.dll
conic-palace

# do not add packages from vendor, but keep the directory itself
vendor/*
!vendor/.gitkeep

# do not add go mod checksums
*.sum

# docker go build cache
.cache/

# build directory
out/

